.question
  border-bottom 1px solid
  &__name
    position relative
    padding basePadding (basePadding * 2)
    font-size 1.125rem
    line-height 1.125
    text-transform uppercase
    cursor pointer
    &::after
      content ''
      position absolute
      top (basePadding / 2)
      right basePadding
      width 3.25rem
      height 3.25rem
      background-color #d7e7e7
      background-image svgImport('svg/plus.svg')
      background-repeat no-repeat
      background-position center center
      background-size 2.5rem
      border-radius 50%
      transition background-color .4s
    &:hover
      &::after
        background-color #ccdbdb
        transition background-color .2s
    @media screen and (max-width point-m - 1)
      padding-right 3.5rem
      padding-left 0
      &::after
        top basePadding
        right 0
        transform scale(.75)
        transform-origin top

  &__body
    padding 0 (basePadding * 2) basePadding
    @media screen and (max-width point-m - 1)
      padding-x 0
    
