mixin question(item)

  .question
    .question__name(data-mrc-sh-title=`question-${item.id}`) !{item.name}
    .question__body(data-mrc-sh-body=`question-${item.id}`)
      +createElement(item.body)
