include ../grid/grid
include ../create-element/create-element
include ../scripts/scripts

doctype html
html(lang='ru')
  include ../head/head
  body
    include /blocks/header/header
    block content
    include /blocks/footer/footer
  +scripts(['script.js'])
