.reason
  height 100%
  text-align center
  text-decoration none
  color inherit
  &__image
  &__add
    display flex
    justify-content center
    overflow hidden
    align-items center
    border 1px solid #7d7d7d
    border-radius 10rem

    img
      border-radius 10rem
      filter grayscale(1)
      transition filter .4s
      will-change filter
  &__info
    display flex
    justify-content center
    align-items center
    border 1px solid #7d7d7d
    border-radius 6rem
  &__add
  &__info
    transition background-color .4s
    will-change background-color
  &:hover
    & ^[-1]__image img
      filter grayscale(0)
      transition filter .2s
    & ^[-1]__info
    & ^[-1]__add
      background-color #fafbfe
      transition background-color .2s
