mixin reason(reason)
  +grid({'nopadding': true, tag: 'a'})(href='/').reason
    if reason.image
      +cell({l:4,xs:4}).reason__image
        img(src != reason.image alt != reason.info)
    -
      let infoSettings = reason.image ? {l:8,xs:8} : {xs:12}
    if !reason.short
      +cell(infoSettings).reason__info: p !{reason.info}
    else
      +cell(infoSettings).reason__add: p !{reason.info}
      
