.slider
  .splide
    &__track
      overflow hidden
      border-radius 16rem
    &__slide
      display flex
      flex-direction column
      text-align center

    &__list
      .slider   &
        li
          margin-x basePadding

    &__pagination
      width 100%
      margin -.25rem
      margin-top 1rem

      li
        margin .25rem

      &__page
        width .5rem
        height .5rem
        padding 0
        background-color #fff
        border none
        border-radius .5rem
        &.is-active
          background-color #a0b6b6

  &__image
    display flex
    overflow hidden
    flex-shrink 0
    justify-content center
    align-items center
    max-width 100%
    height 24rem
    border 1px solid #6f6f6f
    border-radius 16rem
  &--works
    margin-top (basePadding*1.75)
    .splide
      &__track
        border-radius 0
      &__list
        position relative
        z-index 5
        margin-x -5rem

      &__slide
        position relative
        z-index 15
        width 608px
        max-width 100vw
        margin-x 5rem

      &__arrows
        position absolute
        display flex
        justify-content center
        width 100%
        @media screen and (max-width point-s - 1)
          display none

      &__arrow
        z-index 10
        width 80rem
        height 15rem
        background-color transparent
        border 1px solid #6f6f6f
        &--prev
          margin-right 304px
          background-image svgImport('svg/arrow-left.svg')
          background-repeat no-repeat
          background-position unquote('calc(100% - ' + basePadding + ')') center
          background-size 4rem
          border-radius 0 16rem 16rem 0
        &--next
          margin-left 304px
          background-image svgImport('svg/arrow-right.svg')
          background-repeat no-repeat
          background-position basePadding center
          background-size 4rem
          border-radius 16rem 0 0 16rem

        svg
          display none
      &__pagination
        position absolute
        top 15.25rem
    & ^[-1]__image
      display flex
      flex-shrink 0
      justify-content center
      align-items center
      max-width 100%
      height 15rem
      border-radius 16rem
      filter grayscale(1)
      transition filter .2s

    & ^[-1]__info
      margin-top 4rem
      opacity 0
      transition opacity .2s
    & .is-active ^[-1]__info
      opacity 1
    & .is-active ^[-1]__image
      filter none
  &--feedback
    .splide
      &__track
        border-radius unset
      &__list
        position relative
        z-index 5
        margin-x -5rem
      &__arrows
        position absolute
        top 50%
        left -6rem
        display flex
        justify-content space-between
        width calc(100% + 12rem)
        @media screen and (max-width point-s - 1)
          display none
      
      &__arrow
        z-index 10
        background-color transparent
        border none
        &--prev
          // margin-right 304px
          
          width 4.5rem
          height 3rem
          background-image svgImport('svg/arrow-left.svg')
          background-repeat no-repeat
          background-position center
          background-size 4rem
        &--next
          // margin-left 304px
          
          width 4.5rem
          height 3rem
          background-image svgImport('svg/arrow-right.svg')
          background-repeat no-repeat
          background-position center
          background-size 4rem
      
        svg
          display none

      &__pagination button
        border 1px solid #a0b6b6
    & ^[-1]__image
      display flex
      flex-shrink 0
      justify-content center
      align-items center
      max-width 100%
      height 100%
      background-color #f0f0f0
      border unset
      border-radius unset
