.button
.btn
a.button
a.btn
  display inline-block
  padding (basePadding / 3) (basePadding / 2)
  font-size 1.125rem
  line-height 1.375rem
  text-align center
  text-decoration none
  color #fff
  background-color #568786
  border none
  border-radius 1.5rem
  transition background-color .4s

  &:hover
    background-color #77bab9
    transition none

  &--secondary
    color #568786
    background-color #fff
    transition color .4s

    &:hover
      color #77bab9
      background-color #fff
      transition none

  &--wide
    width 100%
