.doctor
  display flex
  flex-direction column
  align-items center
  height 100%
  &__image
    position relative
    overflow hidden
    width 16rem
    padding-bottom calc(16rem - 2px)
    border 1px solid #6f6f6f
    border-radius 50%

    img
      position absolute
      top 0
      left 0
      display block
      width 100%
  &__name
    margin-top (basePadding / 3)
    font-weight bold
    line-height 1.25
  &__description
    line-height 1.25
  &__link
    margin-top (basePadding / 3)
    margin-bottom (basePadding / 2)
  &__button
    margin-top auto
