mixin doctor(item)

  - const inst = `https://instagram.com/${item.inst}`

  .doctor
    .doctor__image: img(src != item.image alt != item.name)
    .doctor__name !{item.name}
    .doctor__description !{item.desc}
    .doctor__link: a(href != inst target='_blank') @!{item.inst}
    .doctor__button: a(href='#section-contact').btn Задать вопрос доктору
