.container.banner-result: .content: +grid({'nopadding': true, 'align': 'center'})
  +cell({l:7,xs:12}).banner-result__info Готово! Ваша грудь восхитительна
  +cell({l:5,m:'hidden',s:'hidden',xs:'hidden'}): picture
    source(srcset='/images/banner-result.webp' media='(-webkit-max-device-pixel-ratio: 1)' type='image/webp')
    source(srcset='/images/banner-result@2x.webp' type='image/webp')
    source(srcset='/images/banner-result.png' media='(-webkit-max-device-pixel-ratio: 1)')
    img(src='/images/banner-result.png' alt='')
