.sequence
  &__item
    --order-l 0 // @stylint ignore
    --order-m 0 // @stylint ignore
    --order-s 0 // @stylint ignore
    position relative
    display flex
    flex-direction column
    align-items center
    &::after
      content ''
      position absolute
      top 6.75rem
      right 0
      width 4.5rem
      height 3rem
      background-image svgImport('svg/arrow-right.svg')
      background-repeat no-repeat
      background-position center
      transform translateX(50%)
    @media screen and (min-width point-l)
      order var(--order-l)
      &:nth-child(6n-2)
      &:nth-child(6n-1)
      &:nth-child(6n)
        &::after
          content ''
          right unset
          left 0
          transform translateX(-50%) rotate(.5turn)
        &:last-child
          margin-left auto
      &:nth-child(6n-3)
      &:nth-child(6n)
        &::after
          top 8.25rem
          height 100%
          background-image url(../images/arrow-big.svg)
          background-position left center
          background-size 100% 100%
      &:last-child::after
          content unset
    @media screen and (max-width point-l - 1) and (min-width point-s)
      order var(--order-m)
      &:nth-child(4n-1)
      &:nth-child(4n)
        &::after
          right unset
          left 0
          transform translateX(-50%) rotate(.5turn)
        &:last-child
          margin-left auto
      &:nth-child(4n-2)
      &:nth-child(4n)
        &::after
          top 8.25rem
          height 100%
          background-image url(../images/arrow-big.svg)
          background-position left center
          background-size 100% 100%
      &:last-child
        &::after
          content unset
    @media screen and (max-width point-s - 1)
      order var(--order-s)
      &.grid__cell:not(:last-child)
        padding-bottom (4.5rem + (basePadding * 2))
      &::after
        top unset
        bottom basePadding
        left 50%
        transform translateX(-50%) rotate(.25turn)
      &:last-child::after
        content unset
  &__image
    @extend .doctor__image
    
    width 12.5rem
    padding-bottom calc(12.5rem - 2px)
  &__description
    margin-top (basePadding / 3)
    line-height 1.25
    text-align center
