mixin sequence(list)

  +grid({'padding-y': [true, 'big'], 'tag': 'ol'}).sequence
    each item in list
      +cell({l:4,m:6,s:6,xs:12, 'tag': 'li'}).sequence__item
        .sequence__image: img(src != item.src alt='')
        .sequence__description !{item.desc}
