include /blocks/menu/menu

-
  const menu = [
    {'name': 'Показания','href': '#section-reasons'},
    {'name': '3D моделирование','href': '#section-3d-modelling'},
    {'name': 'О клинике','href': '#section-advantages'},
    {'name': 'Наши врачи','href': '#section-doctors'},
    {'name': 'До/После','href': '#section-works'},
    {'name': 'Цены','href': '#section-price'},
    {'name': 'Рассрочка','href': '#section-credit'},
    {'name': 'Результаты','href': '#section-results'},
    {'name': 'Faq','href': '#section-questions'},
    {'name': 'Задать вопрос','href': '#section-contact'},
    {'name': 'Контакты','href': '#section-contacts'},
  ]

+menu(menu).header-menu
