.header-menu
  @media screen and (max-width point-l - 1)
    position absolute
    top 4rem
    z-index 20
    width unquote('calc(100% - ' + basePadding * 2 + ')')
    min-width 20rem
    background-color #E9ECF3
    transition transform .2s
    transform scaleY(0)
    transform-origin 50% 0 0
    &--active
      transition none
      transform scale(1)
    &__list
      flex-direction column
    &__list-item
      position relative
      display flex
      flex-wrap wrap
      transition background-color .2s
      & > a
        display block
        padding (basePadding / 2) basePadding
        font-weight 500
        text-decoration none
        color var(--color-link)
        transition color .2s
      &:hover
        & > a
          color var(--color-link-hover)
          transition none
      &--parent
        & > a
          width calc(100% - 3rem)
    &__sublist-switch
      display flex
      align-items center
      justify-content center
      width 3rem
      height 3rem
      background-image red
      &::after
        content ''
        display inline-block
        width basePadding
        height basePadding
        border-right 4px solid
        border-bottom 4px solid
        transform scaleY(.875) translateY(-25%) rotate(45deg)
      &--active
        &::after
          transform scaleY(.875) translateY(25%) rotate(-135deg)
    &__sublist
      display none
      width 100%
      &--active
        display block
    &__sublist-item
      & > a
        padding (basePadding/2) (basePadding)
        font-weight 400
        white-space nowrap
        color var(--nav-background)
        transition color .2s
      &:hover
        & > a
          color var(--link-color-hover)
          background-color transparent
          transition none
