.header-menu
  @media screen and (min-width point-m)
    font-size .75rem
    text-transform uppercase
    &__list
      display flex
      justify-content space-between
      margin-x -(basePadding / 4)
    &__list-item
      margin-x (basePadding / 4)

      a
        position relative
        display block
        text-decoration none
        color #6f6f6f
        &::before
          content ''
          position absolute
          bottom 0
          left 0
          display block
          width 100%
          height 1px
          background-color #6f6f6f
          transform scaleX(0)
          transform-origin 100% 50% 0
          transition transform .4s
        &:hover::before
          transform scaleX(1)
          transform-origin 0 50% 0
