.get-now
  display inline-block
  padding-bottom (basePadding * 2)
  text-transform uppercase
  background-image svgImport('svg/arrow-bottom-white.svg')
  background-repeat no-repeat
  background-position center bottom
  background-size 2rem
