include /blocks/reason/reason

mixin reasons(reasons)
  +grid({'nopadding': true, 'tag': 'ul'}).reasons
    each reason in reasons
      -
        let cellSettings;
        if (reason.image) cellSettings = {l:6,xs:12}
        else
          if (reason.short) cellSettings = {l:2,xs:4}
          else cellSettings = {l:4,xs:8}
        cellSettings.tag = 'li'
      +cell(cellSettings).reasons__item: +reason(reason)
