.page-subsection
  & + &
    margin-top (basePadding*1.75)
  h1 + &
    margin-top 1rem
  h2 + &
    margin-top basePadding
  &--centered
    display flex
    flex-direction column
    align-items center
