mixin price(price)

  .price
    .price__inner
      .price__name !{price.name}
      .price__value за !{price.value} руб.
      .price__desc !{price.desc}
      .price__doctors: strong !{price.doctors.join(', ')}
    a(href='#section-contact').price__button.btn Успей зафиксировать цену
