.price
  display flex
  flex-direction column
  align-items center
  height 100%
  text-align center
  color #568786
  &__inner
    display flex
    flex-grow 1
    flex-direction column
    align-items center
    padding 5.5rem (basePadding / 2) basePadding
    background-color #d7e2e2
    border-radius 15rem 15rem 0 0
  &__name
  &__value
    font-family 'Baskerville BT [Rus by me]', 'Times New Roman', serif
    font-size 2.75rem
    line-height 1
  &__value
    margin-top .75rem
  &__desc
    @extend p

    margin-top basePadding
  &__button
    margin-top basePadding
