@font-face
  font-family 'Baskerville BT [Rus by me]'
  src local('Baskerville BT [Rus by me] Roman'), url('../fonts/BaskervilleBTRusbyme-Roman.otf') format('truetype') // @stylint ignore
  font-weight normal
  font-style normal
@font-face
  font-family 'Montserrat'
  src local('Montserrat'), url('../fonts/Montserrat-Bold.ttf') format('truetype') // @stylint ignore
  font-weight bold
  font-style normal
@font-face
  font-family 'Montserrat'
  src local('Montserrat'), url('../fonts/Montserrat-Regular.ttf') format('truetype') // @stylint ignore
  font-weight normal
  font-style normal
@font-face
  font-family 'Montserrat'
  src local('Montserrat SemiBold'), url('../fonts/Montserrat-SemiBold.ttf') format('truetype') // @stylint ignore
  font-weight 500
  font-style normal
