import('sprites/*')
import('inlcudes/placeholder')
@import 'includes/variables'
@import 'includes/mixins'
@import 'includes/fonts'
@import 'includes/reset'
@import '../../node_modules/@splidejs/splide/dist/css/splide-core.min.css'

html
  font-family 'Monsterrat', 'Helevetica Neue', 'Helevetica', 'Arial', sans-serif
  font-size 16px
  color #6f6f6f

.container
  display flex
  justify-content center

.content
  width 100%
  max-width containerWidth
  padding-x (basePadding)

p
  font-size 1rem
  line-height 1.25
  & + &
    margin-top 1.25rem
h1, h2
  font-family 'Baskerville BT [Rus by me]', 'Times New Roman', serif
  font-size 3.5rem
  text-transform uppercase
  line-height 1.3
  color #568786
  small
    font-size inherit
    text-transform none
  @media screen and (max-width point-xl - 1) and (min-width point-l)
    font-size 3rem
  @media screen and (max-width point-l - 1) and (min-width point-s)
    font-size 2.5rem
  @media screen and (max-width point-s - 1)
    font-size 2rem
  &.text-align-center
    text-align center
h2.gift
  text-align center
  small
    display block
    margin-top .5rem
    font-size 1.5rem
    line-height 2
  a
    text-decoration none
h3
  @extend h1

  font-size 2.375rem
  &.small
    font-family 'Monsterrat', 'Helevetica Neue', 'Helevetica', 'Arial', sans-serif
    font-size 1rem
    font-weight 500
    line-height 1.25
    text-transform uppercase
    color #6f6f6f
  @media screen and (max-width point-l - 1) and (min-width point-s)
    font-size 2rem
  @media screen and (max-width point-s - 1)
    font-size 1.5rem
  & + p
    margin-top 1.25rem
.hidden-hd
  @media screen and (min-width point-hd)
    display none !important // @stylint ignore
.hidden-xl
  @media screen and (min-width point-xl) and (max-width point-hd - 1)
    display none !important // @stylint ignore
.hidden-l
  @media screen and (min-width point-l) and (max-width point-xl - 1)
    display none !important // @stylint ignore
.hidden-m
  @media screen and (min-width point-m) and (max-width point-l - 1)
    display none !important // @stylint ignore
.hidden-s
  @media screen and (min-width point-s) and (max-width point-m - 1)
    display none !important // @stylint ignore
.hidden-xs
  @media screen and (max-width point-s - 1)
    display none !important // @stylint ignore

import('../blocks/**/*')
