mixin galleryAdvantages(list)

  +grid({'nopadding': true, cols: 10}).gallery-advantages
    -
      let lCols = 0
      let mCols = 0
      let sCols = 0
      let xsCols = 0
    each item in list
      -
        lCols += item.sizes.l
        mCols += item.sizes.m
        sCols += item.sizes.s
        xsCols += item.sizes.xs
      +cell(item.sizes).gallery-advantages__item: img(src != item.src alt != item.name || '')
    -
      const endSizes = {
        hd: 10 - (lCols % 10) < 5 ? 10 - (lCols % 10) : 'hidden',
        xl: 10 - (lCols % 10) < 5 ? 10 - (lCols % 10) : 'hidden',
        l: 10 - (lCols % 10) < 5 ? 10 - (lCols % 10) : 'hidden',
        m: 10 - (mCols % 10) < 5 ? 10 - (mCols % 10) : 'hidden',
        s: 10 - (sCols % 10) < 5 ? 10 - (sCols % 10) : 'hidden',
        xs: 10 - (xsCols % 10) < 5 ? 10 - (xsCols % 10) : 'hidden',
      };
      console.log(10 - (lCols % 10) < 5 ? 10 - (lCols % 10) : 'hidden');
      const end = new Set();
      Object.values(endSizes).forEach((item) => { if (item !== 'hidden') end.add(item) });
    if end.size > 0
      +cell(endSizes).gallery-advantages__end
