.gallery-advantages
  --border-radius 20rem // @stylint ignore
  --item-height 15rem // @stylint ignore
  --end-width 0 // @stylint ignore
  &__item
    display flex
    overflow hidden
    align-items center
    height var(--item-height)
    border 1px solid #7d7d7d
    border-radius var(--border-radius)

    img
      flex-grow 1
      height 100%
      object-fit cover // @stylint ignore
  &__end
    position relative
    height var(--item-height)
    border 1px solid #7d7d7d
    border-right none
    border-radius var(--border-radius) 0 0 var(--border-radius)
    &::before
      content ''
      position absolute
      top -1px
      right 0
      width var(--end-width)
      height calc(100% + 2px)
      border-top 1px solid #7d7d7d
      border-bottom 1px solid #7d7d7d
      transform translateX(100%)
