.footer
  margin-top (basePadding * 4)
  padding-top (basePadding * 2)
  padding-bottom (basePadding * 3)
  font-size .875rem
  background-color #d7e2e2
  &__contacts
    p, h3
      line-height 1.5rem
  &__menu li
    a
      font-weight 500
      line-height 1.5rem
      text-decoration none
      text-transform uppercase
      color #6f6f6f
      &:hover
        color #7d7d7d
  &__logo
    width 10rem
    height 3.25rem
    background-image svgImport('svg/footer-logo.svg')
    background-repeat no-repeat
    background-position center
    background-size contain
