include /blocks/page-subsection/page-subsection

footer.footer.container#section-contacts: .content
  +pageSubsection: .footer__logo
  +pageSubsection: +grid({'padding-y': true})
    +cell({m:4,s:6,xs:12})
      p ООО «Медалл Эстетика»
        br
        | ИНН 7813612669
        br
        | ОГРН 1187847146190

      p Лицензия:
        br
        | №ЛО-78-01-0106021 от 14.02.2020 г.
    +cell({m:4,s:6,xs:12}).footer__contacts
      h3.small Контакты
      p
        strong Адрес:
        |  Левашовский пр., д.24,
        br
        | 500 м от ст. Чкаловская
        br
        strong WhatsApp:
        |  +7 921 441-39-26
        br
        strong Телефон:
        |  +7 (812) 603-02-01
        br
        strong Email:
        |  admin@medall.clinic
        br
        strong Instagram:
        |  @medall.clinic
    +cell({m:4,s:6,xs:12})
      -
        const menu = [
          {name: 'Пластическая хирургия', href: '/plastic/'},
          {name: 'Косметология', href: '/cosmetology/'},
          {name: 'Стоматология', href: '/dentistry/'},
          {name: 'Пересадка волос', href: 'https://netvolos.ru/'},
          {name: 'Флебология', href: 'https://yazv.net/'},
        ]
      ul.footer__menu
        each item in menu
          li: a(href != item.href) !{item.name}
