.home-header
  background-image radial-gradient(circle at 25% top, #e4e8eb, #f0f1f3)
  &__image
    align-self stretch
    background-repeat no-repeat
    background-position center
    background-size contain
  &__info
    padding-y 3.625rem

    h1
      margin-bottom 2rem
  &__price
    margin-y 1.5rem
    font-family 'Baskerville BT [Rus by me]'
    font-size 3rem
    color #568786

    strong
      font-size 5.3125rem
    @media screen and (max-width point-m)
      font-size 2.5rem

      strong
        font-size 4.3125rem
    @media screen and (max-width point-s)
      font-size 2rem

      strong
        font-size 3.3125rem
