include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection

+pageSection({'tag': 'section'}).home-header
  .container: .content
    +grid({'align': 'center'})
      +cell({l:7,m:'hidden',s:'hidden',xs:'hidden'})(style='background-image: url(images/banner.png)').home-header__image
      +cell({l:5,m:12,s:12,xs:12}).home-header__info
        h1 Увеличение груди
        p: strong Всё включено:
        ul.list-marked.list-marked--w-prev-par
          li 3D моделирование
          li операция
          li общий наркоз
          li круглые импланты Mentor/Motiva
          li компрессионное белье
          li такси после операции
          li пребывание в индивидуальной палате (1 сутки)
          li персональный куратор
          li бизнес такси
        .home-header__price
          strong 175 000
          |  руб.
        .home-header__button: a(href='#section-contact').btn Хочу идеальную грудь
