extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/reasons/reasons
include /blocks/doctor/doctor
include /blocks/gallery-advantages/gallery-advantages
include /blocks/price/price
include /blocks/block-icon/block-icon
include /blocks/sequence/sequence
include /blocks/questions-header/questions-header
include /blocks/question/question
include /blocks/form-input/form-input

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/home-header/home-header
  +pageSection({'reasons': true, tag: 'section', 'text-align':'center'})#section-reasons
    .container
      .content
        +pageSubsection: h2 Показания к увеличению груди
        +pageSubsection
          p Нравиться себе и восхищаться своим телом — с этого начинается успех женщины во всех сферах жизни. 
          p Женская грудь является одной из самых значимых и выразительных зон, поэтому недостаточный объем, изменения формы, асимметрия или возрастные изменения груди часто вызывают неуверенность в себе, дискомфорт в повседневной жизни и множество других проблем. 
          p Вы можете создать новую идеальную грудь вместе с командой клиники MEDALL уже сейчас.
        +pageSubsection
          -
            const reasons = [
              {
                image: '/images/reasons-1.jpg',
                info: 'Возрастные изменения/<br>коррекция птоза',
              },
              {
                image: '/images/reasons-2.jpg',
                info: 'Пластика груди<br>после родов и кормления',
              },
              {
                image: '/images/reasons-3.jpg',
                info: 'Увеличение груди<br>для спортсменок<br>и фитнес-бикини',
              },
              {
                info: 'Неудовлетворенность<br>размером и формой',
              },
              {
                info: 'Замена грудных<br>имплантов',
                short: true,
              },
            ]
          +reasons(reasons)
  +pageSection({'padding-y':true, '3d-modelling': true, tag: 'section'})#section-3d-modelling
    +pageSubsection.section-header: .container 
      .content
        h2 Хотите увидеть будущий результат до начала операции?
    +pageSubsection: .container
      .content
        +grid({'padding-y': true, 'align': 'center'})
          +cell({m:6,xs:12})
            p Клиника MEDALL предоставит такую возможность!
            p С помощью инновационной программы 3D моделирования Crisalix доктор создаст визуальный образ будущего результата.
            p Благодаря реалистичному моделированию, Вы сможете точно подобрать импланты, которые будут соответствовать  желаемому результату и особенностям тела.
            p.get-now Запишитесь прямо сейчас
            p: a(href='#section-contact').btn.btn--secondary Хочу получить 3D консультацию
          +cell({m:6,xs:12})
            .slider.slider--simple.splide
              .splide__track
                ul.splide__list
                  li.splide__slide: .slider__image: img(src='/images/3d-modelling/3d-modelling-1.jpg' alt='')
                  li.splide__slide: .slider__image: img(src='/images/3d-modelling/3d-modelling-2.jpg' alt='')
                  li.splide__slide: .slider__image: img(src='/images/3d-modelling/3d-modelling-3.jpg' alt='')
                  li.splide__slide: .slider__image: img(src='/images/3d-modelling/3d-modelling-4.jpg' alt='')
  +pageSection({'gradient': true, nomargin: true, tag: 'section'})#section-advantages
    .container
      .content
        +pageSubsection: h2 Почему более 30 000 пациентов выбирают клинику MEDALL?
        +pageSubsection
          -
            const gallery = [
              {
                sizes: {l:2,m:3,s:5,xs:5},
                name: '',
                src: '/images/advantages/advantages-1.jpg'
              },
              {
                sizes: {l:4,m:4,s:10,xs:10},
                name: '',
                src: '/images/advantages/advantages-2.jpg'
              },
              {
                sizes: {l:2,m:3,s:5,xs:5},
                name: '',
                src: '/images/advantages/advantages-3.jpg'
              },
            ]
          +galleryAdvantages(gallery)
        +pageSubsection
          +grid({'padding-y': true})
            +cell({m:6,s:12})
              h3.small Не экономим на вашей безопасности
              p Мы применяем исключительно современное диагностическое и лечебное оборудование, а также новейшие медицинские технологии и материалы.
            +cell({m:6,s:12})
              h3.small Надежная клиника с большой историей
              p Уже более 15 лет соответствуем мировым и российским стандартам эстетической медицины, требованиям нового законодательства в области пластической хирургии.  В клинике работают более 120 сотрудников.
            +cell({m:6,s:12})
              h3.small Высокий уровень сервиса и комфорта
              p Наша главная задача — оказать Вам теплый прием и обеспечить самый лучший медицинский уход: комфортабельная одноместная палата, персональный куратор (мама пластики), трехразовое питание, онлайн-кинотеатр и другие удобства для комфортного пребывания в клинике. 
  +pageSection({tag: 'section', 'text-align':'center'})#section-doctors
    .container
      .content
        +pageSubsection: h2 C вами работает<br>лучшая команда
        +pageSubsection
          p Мы понимаем, как важно найти своего доктора: опытного профессионала и человека, которому Вы доверите Ваше здоровье и красоту. 
            br
            | Познакомьтесь с пластическими хирургами клиники MEDALL и задайте им вопрос прямо сейчас. 
        +pageSubsection
          -
            const doctors = [
              {
                image: '/images/doctors/romanchishen.jpg',
                name: 'Романчишен Филипп Анатольевич',
                desc: 'главный врач и заведующий отделением пластической хирургии, к.м.н.',
                inst: 'romanchishen',
              },
              {
                image: '/images/doctors/vystupets-boris.jpg',
                name: 'Выступец Борис Владимирович',
                desc: 'к.м.н. пластический хирург ',
                inst: 'boris_vystupets',
              },
              {
                image: '/images/doctors/mamedov.jpg',
                name: 'Мамедов Фархат Наврусалиевич',
                desc: 'пластический хирург',
                inst: 'dr.mamedov_farhat',
              },
              {
                image: '/images/doctors/mohamed.jpg',
                name: 'Мохамед Ева Юсуфовна',
                desc: 'пластический хирург, руководитель отделения косметологии',
                inst: 'doctor_eva',
              },
              {
                image: '/images/doctors/vystupets-filipp.jpg',
                name: 'Выступец Филипп Владимирович',
                desc: 'пластический хирург',
                inst: 'vystupets_filipp',
              },
              {
                image: '/images/doctors/cehmistro.jpg',
                name: 'Цехмистро Яна Вячеславовна',
                desc: 'пластический хирург',
                inst: 'dr_cehmistro',
              },
            ]
          +grid({'padding-y': [true, 'big']})
            each doctor in doctors
              +cell({m:4, s:6, xs:12}): +doctor(doctor)
  +pageSection({'gradient': [true, 'reverse'], tag: 'section', 'padding-y': true})#section-works
    .container
      .content
        +pageSubsection: h2.text-align-center Работы специалистов клиники
    .slider.slider--works.splide
      .splide__track
        ul.splide__list
          li.splide__slide
            .slider__image: img(src='https://dummyimage.com/800x800/ffcccc' alt='')
            .slider__info
              | Врач: Мохамед Ева Юсуфовна
              br
              | Было выполнено: увеличение груди
          li.splide__slide
            .slider__image: img(src='https://dummyimage.com/800x1200/ffcccc' alt='')
            .slider__info
              | Врач: Мохамед Ева Юсуфовна
              br
              | Было выполнено: увеличение груди
          li.splide__slide
            .slider__image: img(src='https://dummyimage.com/1200x1200/ffcccc' alt='')
            .slider__info
              | Врач: Мохамед Ева Юсуфовна
              br
              | Было выполнено: увеличение груди
          li.splide__slide
            .slider__image: img(src='https://dummyimage.com/1200x800/ffcccc' alt='')
            .slider__info
              | Врач: Мохамед Ева Юсуфовна
              br
              | Было выполнено: увеличение груди
  +pageSection({tag: 'section', 'text-align':'center'})#section-price
    .container
      .content
        +pageSubsection: h2 Стоимость увеличения груди по системе «Все включено»
        +pageSubsection
          p Каждое пакетное предложение включает в себя: консультацию, 3D моделирование, операцию, общий наркоз,<br>премиальные круглые импланты MENTOR/MOTIVA, компрессионное белье, маму пластики (персональный куратор),<br>пребывание в одноместной палате на сутки, такси после операции, годовое медицинское сопровождение (перевязки и осмотры).
        +pageSubsection
          -
            const prices = [
              {
                name: 'Увеличение груди',
                value: '175 000',
                desc: 'Действует рассрочка у пластических хирургов:',
                doctors: ['Я.В. Цехмистро', 'Ф.В. Выступец'],
              },
              {
                name: 'Увеличение груди',
                value: '195 000',
                desc: 'При единовременной оплате у пластического хирурга:',
                doctors: ['Ф.Н. Мамедов'],
              },
              {
                name: 'Увеличение груди',
                value: '240 000',
                desc: 'При единовременной оплате у пластических хирургов:',
                doctors: ['Ф.А. Романчишен', 'Б.В. Выступец', 'Е.Ю. Мохамед'],
              },
            ]
          +grid({'padding-y': true, 'justify': 'center'})
            each price in prices
              +cell({l:4,m:6,s:6,xs:12}): +price(price)
        +pageSubsection
          h3 Вы можете дополнить пакетное предложение:
          p Заменить круглые импланты на импланты анатомической формы + 20 000 рублей.
          p Добавить к операции подтяжку груди от 40 000 до 80 000 рублей.
          p Добавить коррекцию ареолярного комплекса +25 000 рублей.
  +pageSection({'padding-y':true,'color': true, tag: 'section'})#section-comfort
    .container
      .content
        +grid({'padding-y': true, 'align': 'center'})
          +cell({m:6,xs:12})
            .slider.slider--simple.splide
              .splide__track
                ul.splide__list
                  li.splide__slide: .slider__image: img(src='/images/comfort/comfort-1.jpg' alt='')
                  li.splide__slide: .slider__image: img(src='/images/comfort/comfort-2.jpg' alt='')
                  li.splide__slide: .slider__image: img(src='/images/comfort/comfort-3.jpg' alt='')
                  li.splide__slide: .slider__image: img(src='/images/comfort/comfort-4.jpg' alt='')
          +cell({m:6,xs:12})
            +pageSubsection: h2 У нас вам будет комфортно
            +pageSubsection
                p Наша главная задача — оказать Вам теплый прием и обеспечить самый лучший медицинский уход. 
                p: strong В индивидуальной палате предусмотрены:
                ul.list-marked.list-marked--w-prev-par
                  li удобные ортопедические кровати с электроприводом
                  li мобильная кнопка вызова дежурного врача
                  li круглосуточное профессиональное медицинское наблюдение
                  li трехразовое питание в соответствии с назначением врача
                  li ТВ с бесплатным online-кинотеатром и бесплатный Wi-Fi
                  li туалетная комната с гигиеническим душем 
                  li махровый халат/тапочки/полотенца
                  li фен для волос/ванные принадлежности
                  li все для кофе и чая
  +pageSection({'gradient': [true, 'reverse'], tag: 'section', 'padding-y': true, 'nomargin': true})#section-credit
    .container
      .content
        +pageSubsection: h2 Рассрочка от 15900 руб. в месяц!
        +pageSubsection: p Для своих пациентов мы предлагаем специальную программу оплаты услуг — рассрочка с ежемесячным платежом от 15 900 рублей.<br>Рассрочка может быть оформлена на ваших близких. 
        +pageSubsection: +grid({'padding-y': true})
          -
            const installments = [
              {type: 'partners', name: 'Банки-партнёры', desc: 'Средства рассрочки предоставляются банками-партнерами — <strong>Tinkoff, Credit EuropeBank, МТС банк, Ренессанс, Восточный экспресс банк.</strong>'},
              {type: 'sum', name: 'Сумма рассрочки', desc: 'Рассрочка  предоставляется на сумму <strong>200 000 рублей</strong>.'},
              {type: 'timeline', name: 'Срок рассрочки', desc: 'Рассрочку можно оформить на срок <strong>до 11 месяцев</strong>.'},
              {type: 'time', name: 'Время', desc: 'Ответ банка для рассмотрения/ предоставления рассрочки требует <strong>не более 30 минут</strong>.'},
            ]
          each item in installments
            +cell({m:3,s:6,xs:12}): +blockIcon(item)
  +pageSection({tag: 'section', 'text-align':'center'})#section-sequence
    +pageSubsection.container
      .content
        +pageSubsection: h2 До идеальной груди<br>всего 9 шагов
        +pageSubsection: +grid({'justify': 'center'}): +cell({m:10,xs:12})
          -
            const seq = [
              {
                src: '/images/sequence/1.jpg',
                desc: 'Приходите на консультацию с 3D моделированием к одному или нескольким пластическим хирургам клиники Medall, где Вы обсудите все детали предстоящего преображения.',
              },
              {
                src: '/images/sequence/2.jpg',
                desc: 'Сдайте необходимые предоперационные анализы и исследования. Выберите дату операции.',
              },
              {
                src: '/images/sequence/3.jpg',
                desc: 'После прибытия в клинику персональный куратор поможет заполнить все необходимые документы и проводит Вас в одноместную палату. ',
              },
              {
                src: '/images/sequence/4.jpg',
                desc: 'Когда Вы проснетесь, Вас окружат вниманием и заботой: персональный менеджер, медсестра и пластический хирург.',
              },
              {
                src: '/images/sequence/5.jpg',
                desc: 'Во время операции с Вами будет работать большая медицинская бригада. Сама операция длится недолго — до 2 часов.',
              },
              {
                src: '/images/sequence/6.jpg',
                desc: 'Позже к Вам подойдет доктор, проведет осмотр и сделает предоперационную разметку.',
              },
              {
                src: '/images/sequence/7.jpg',
                desc: 'Через сутки после выписки Вас встретит автомобиль бизнес-класса и отвезет домой.',
              },
              {
                src: '/images/sequence/8.jpg',
                desc: 'В назначенные даты Вашим пластическим хирургом, Вы будете приезжать на осмотры и перевязки.',
              },
              {
                src: '/images/sequence/9.jpg',
                desc: 'Рекомендуем пройти курс восстанавливающих процедур у доктора-реабилитолога клиники Medall.',
              },
            ]
          +sequence(seq) 
    +pageSubsection
      include /blocks/banner-result/banner-result
  +pageSection({tag: 'section', 'text-align':'center'})#section-results
    .container
      .content
        +pageSubsection: h2 Пациентки о нас:
          br
          small только реальные и честные отзывы
        +pageSubsection: +grid({'justify': 'center'}): +cell({m:8,s:10,xs:12}): .slider.slider--feedback.splide
          .splide__track
            - let i = 1
            ul.splide__list
              while i <= 25
                li.splide__slide: .slider__image: img(src=`/images/feedback/feedback-${i}.jpg` alt='')
                - i++
  +pageSection({ tag: 'section', })#section-questions
    +questionsHeader Ответы на эти вопросы помогут вам принять правильное решение
    .container
      .content
        +pageSubsection
          -
            const questions = [
              {
                name: 'Останутся ли шрамы после операции?',
                body: {
                  tag: 'p',
                  content: 'Небольшие рубцы после увеличения груди остаются независимо от техники выполнения операции или квалификации пластического хирурга. Другое дело, можно ли сделать их менее заметными для глаз окружающих. Ответ на данный вопрос положителен. Необходимо неукоснительно следовать указаниям пластического хирурга в реабилитационном периоде.'
                },
                id: 1,
              },
              {
                name: 'Период восстановления и реабилитации после  увеличивающей  маммопластики? ',
                body: {
                  tag: 'p',
                  content: 'Первый год – это максимально сохранительный режим. От этого периода зависит результат операции. Если не соблюдать рекомендации, возможна неудовлетворённость образом молочной железы. Кровоподтеки и синяки держатся до одного месяца, а отёчность и пастозность – до трёх-шести. Первое мытьё головы проводится с чьей-то помощью или в салоне. На протяжении 11 суток можно мыться только частями, не трогая то, что находится в компрессионном белье. На 12-ые сутки разрешается приём душа, который должен быть исключительно гигиенической процедурой. Нельзя находиться в воде больше 15 минут. В течение месяца необходимо круглосуточно носить компрессионное бельё, спать на спине, не поднимать руки выше плеч и не носить тяжести. С месяца до трёх компрессионное бельё остаётся обязательным на время сна. При этом уже можно поднимать руки выше плеч и спать на боку, но не на животе. С трёх месяцев убирается бельё. Можно ходить либо без него, либо в белье, которое обладает только маскирующими свойствами (без пушапа, косточек и моделирования молочной железы). Посещение ванны, бани, бассейна, солярия зависит от состояния швов, и допускается только после получения разрешения от лечащего врача, но не раньше, чем через три месяца. При этом занятия в спортзале запрещены на шесть-девять месяцев. Спустя девять-двенадцать месяцев можно оценивать сформированный образ.'
                },
                id: 2,
              },
              {
                name: 'Можно ли кормить ребенка после увеличения груди? ',
                body: {
                  tag: 'p',
                  content: 'Если вы хотите сделать увеличивающую маммопластику, а потом планируете стать мамой, то на консультации обязательно расскажите об этом хирургу. Поскольку от этой информации зависит выбор доступа.Например, ареолярный доступ может быть травматичен. Ведь он проходит через ткань самой железы. Из-за этого в счастливый период рождения ребёнка существует вероятность развития фиброза, закупорки протоковой системы, лактостаза.При лактостазе образовавшееся молоко не выводится в главный млечный проток. Этот процесс может привести к нагноению и маститу. Его лечение возможно в рамках консервативной терапии – таблетками или местными средствами, но может потребоваться оперативное вмешательство. Девушкам, которые ещё не рожали детей, надо серьезно  относиться к выбору доступа. В таких случаях я рекомендую самый щадящий доступ – субмаммарный (подгрудный).'
                },
                id: 3,
              },
              {
                name: 'Когда можно вернуться к тренировкам после увеличения груди? ',
                body: {
                  tag: 'p',
                  content: 'В среднем период реабилитации после проведенной пластики груди составляет от 3 месяцев до полугода и дольше. В это время запрещается поднимать тяжести, выполнять силовые упражнения, заниматься танцами, бегом, бодибилдингом, играть в большой теннис и пр. Если не придерживаться подобных ограничений, велик риск осложнений.Приступать к выполнению упражнений следует постепенно, внимательно прислушиваясь к своему телу на предмет появления болевых или других неприятных ощущений. Вводить каждый следующий вид двигательной активности следует только после одобрения хирурга, который проводил операцию. В общем виде план возвращения к нагрузкам и тренировкам выглядит так. Первые 3 дня. Полный покой и постельный режим. В течение 2 недель. Только непродолжительные пешие прогулки. После полумесяца. Выполнение упражнений, которые не связаны с нагрузкой на плечевой пояс. Спустя 1 месяц. Можно начинать посещать бассейн. Через 2 месяца. Можно поднимать руки вверх, заниматься с гантелями весом не более 2 кг. Спустя 3 месяца. По разрешению врача допускаются занятия бегом и легкой атлетикой, можно делать растяжку, качать пресс. Через полгода. В тренировочный план можно включать жимы от груди и отжимания.'
                },
                id: 4,
              },
              {
                name: 'Кому не подходит пластическая операция по увеличению груди? ',
                body: [
                  {
                    tag: 'p',
                    content: 'Операция по увеличению груди противопоказана женщинам:'
                  },
                  {
                    tag: 'ul',
                    className: 'list-marked list-marked--w-prev-par',
                    content: [
                      {
                        tag: 'li',
                        content: 'в возрасте до 18 лет, когда молочные железы еще не сформированы окончательно;'
                      },
                      {
                        tag: 'li',
                        content: 'с тяжелыми заболеваниями внутренних органов;'
                      },
                      {
                        tag: 'li',
                        content: 'со злокачественными опухолями любого расположения;'
                      },
                      {
                        tag: 'li',
                        content: 'с новообразованиями в области груди, в том числе доброкачественными;'
                      },
                      {
                        tag: 'li',
                        content: 'с острыми или хроническими инфекциями;'
                      },
                      {
                        tag: 'li',
                        content: 'в период беременности, лактации и полгода после окончания кормления грудью'
                      },
                      {
                        tag: 'li',
                        content: 'с нарушениями свертываемости крови;'
                      },
                      {
                        tag: 'li',
                        content: 'при сахарном диабете. '
                      },
                    ]
                  },
                ],
                id: 5,
              },
            ]
          each item in questions
            +question(item)
        +pageSubsection: +grid({'justify': 'center'}): +cell({l:3, m:4, s:6, xs: 12})
          a(href='#section-contact').btn.btn--wide Задать свой вопрос
  +pageSection({tag: 'section', 'text-align':'center'})
    .container
      .content
        +pageSubsection: h2 История одного преображения
          br
          small от нашей пациентки
        +pageSubsection: +grid({'padding-y': true, 'justify': 'center'})
          +cell({l:4,m:6,s:6,xs:12}): <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/CIV_0fxg_NX/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="13" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"> <a href="https://www.instagram.com/p/CIV_0fxg_NX/?utm_source=ig_embed&amp;utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank"> <div style=" display: flex; flex-direction: row; align-items: center;"> <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div></div></div><div style="padding: 19% 0;"></div> <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g></svg></div><div style="padding-top: 8px;"> <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;"> Посмотреть эту публикацию в Instagram</div></div><div style="padding: 12.5% 0;"></div> <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"><div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div> <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div></div><div style="margin-left: 8px;"> <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div> <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div></div><div style="margin-left: auto;"> <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div> <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div> <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div></div></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div></div></a><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/CIV_0fxg_NX/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">Публикация от ЯНА❤️ТВОЙ МИЛЫЙ COACH💪🏽 (@smirnitckaya)</a></p></div></blockquote>
          +cell({l:4,m:6,s:6,xs:12}): <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/CIqMGRrA3BC/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="13" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"> <a href="https://www.instagram.com/p/CIqMGRrA3BC/?utm_source=ig_embed&amp;utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank"> <div style=" display: flex; flex-direction: row; align-items: center;"> <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div></div></div><div style="padding: 19% 0;"></div> <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g></svg></div><div style="padding-top: 8px;"> <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;"> Посмотреть эту публикацию в Instagram</div></div><div style="padding: 12.5% 0;"></div> <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"><div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div> <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div></div><div style="margin-left: 8px;"> <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div> <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div></div><div style="margin-left: auto;"> <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div> <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div> <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div></div></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div></div></a><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/CIqMGRrA3BC/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">Публикация от ЯНА❤️ТВОЙ МИЛЫЙ COACH💪🏽 (@smirnitckaya)</a></p></div></blockquote>
          +cell({l:4,m:6,s:6,xs:12}): <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/CJWRFpGAIOD/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="13" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"> <a href="https://www.instagram.com/p/CJWRFpGAIOD/?utm_source=ig_embed&amp;utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank"> <div style=" display: flex; flex-direction: row; align-items: center;"> <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div></div></div><div style="padding: 19% 0;"></div> <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g></svg></div><div style="padding-top: 8px;"> <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;"> Посмотреть эту публикацию в Instagram</div></div><div style="padding: 12.5% 0;"></div> <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"><div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div> <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div></div><div style="margin-left: 8px;"> <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div> <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div></div><div style="margin-left: auto;"> <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div> <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div> <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div></div></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div></div></a><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/CJWRFpGAIOD/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">Публикация от ЯНА❤️ТВОЙ МИЛЫЙ COACH💪🏽 (@smirnitckaya)</a></p></div></blockquote>
      <script async src="https://www.instagram.com/embed.js"></script>
  +pageSection({tag: 'section'})#section-contact
    .container
      .content
        +grid({'padding-y': true, 'align': 'center'})
          +cell({l:6,xs:12})
            +pageSubsection: h2.gift Дарим подарок 
              small за подписку на наш Instagram аккаунт 
               a(href='https://instagram.com/medall.clinic ') @medall.clinic 
            +pageSubsection: img(src='/images/gift.png' alt='').hidden-m.hidden-s.hidden-xs
          +cell({l:6,xs:12})
            form.form
              h3.small.form__header Контактные данные
              p Оставьте контактные данные и мы обязательно свяжемся с вами. 
              +formInput({type:'text', name: 'name', label: ['Имя', {tag: 'span', attr: {style: 'color: red'}, content: '*'}], required: true}).form__input
              +formInput({type:'tel', name: 'name', label: ['Телефон', {tag: 'span', attr: {style: 'color: red'}, content: '*'}], required: true}).form__input
              +formInput({type:'textarea', name: 'name', label: 'Комментарий', required: false}).form__input
              .form__agreement Нажимая кнопку «Отправить» я даю согласие на 
                a(href='/') обработку персональных данных
                | .
              button(type='submit').btn Отправить

