.page-section
  & + &
    margin-top (basePadding*3)
  h1 + &
    margin-top 1rem
  &--padding-y
    padding-y (basePadding * 1.5)

  &--nomargin
    ../ + &
      margin-top 0
  &--text-align-center
    text-align center
  &--color
    position relative
    color #fff
    background-color #568786
    @media screen and (min-width point-m)
      &::before
      &::after
        content ''
        position absolute
        top 0
        left 0
        width 100%
        height 6rem
        background-image svgImport('svg/border-1.svg'), svgImport('svg/border-2.svg')
        background-repeat no-repeat
        background-position left bottom, right bottom
        background-size contain
        transform translateY(-100%)
      &::after
        top auto
        bottom 0
        transform translateY(100%) rotate(180deg)
    h2
      color #fff
    & + ^[-1]
      padding-top 6rem
    ^[-1] + &
      margin-top 6rem + (basePadding / 2)
  &--gradient
    --gradient-direction to bottom // @stylint ignore
    background-image: linear-gradient(var(--gradient-direction), #d7e2e2, #fff)
  &--gradient-reverse
    --gradient-direction to top // @stylint ignore
  &--3d-modelling
    @extend .page-section--color
    & + ^[-1]
      padding-top 6rem
    ^[-1] + &
      margin-top 6rem + (basePadding / 2)
    @media screen and (min-width point-m)
      padding-top 0
      &::before
        content none
      .section-header
        padding-y (basePadding * 2)
        background-color #fff
        background-image svgImport('svg/section-header.svg')
        background-repeat no-repeat
        background-position bottom
        background-size cover
        h2
          max-width 60rem
          color #568786
      
