.header-mobile-switcher
  display block
  height 3rem
  padding (basePadding/2)
  padding-left (basePadding*1.25)
  font-weight 500
  line-height 1
  text-decoration none
  color #6f6f6f
  background-image svgImport('svg/hamburger.svg')
  background-repeat no-repeat
  background-position left center
  background-size (basePadding) auto
  @media screen and (min-width (point-l))
    display none
