.block-icon
  display flex
  flex-direction column
  align-items center
  padding-top 4.5rem
  text-align center
  background-repeat no-repeat
  background-position center top
  background-size 4rem
  &--partners
    background-image svgImport('svg/block-icon--partners.svg')
  &--sum
    background-image svgImport('svg/block-icon--sum.svg')
  &--time
    background-image svgImport('svg/block-icon--time.svg')
  &--timeline
    background-image svgImport('svg/block-icon--timeline.svg')
  &__name
    font-size 1.125rem
    font-weight bold
    text-transform uppercase
    color #568786
  &__desc
    @extend p

    margin-top .25rem
