.header
  display flex
  flex-wrap wrap
  justify-content center
  align-items center
  margin -(basePadding / 2)
  padding-y 1rem
  &__logo
    width 9.25rem
    height 3rem
    margin (basePadding / 2)
    background-image svgImport('svg/logo.svg')
    background-repeat no-repeat
    background-position center
    background-size contain
  &__menu
    flex-grow 1
    margin (basePadding / 2)
  @media screen and (max-width (point-l - 1))
    &__logo
      order 2
    &__menu
      order 1
