.form
  display flex
  flex-direction column
  align-items center
  &__input
    position relative
    align-self stretch
    & + &
      margin-top 1rem
    .form-input
      &__label
        position absolute
        top .75rem
        left 1rem
        font-size .875rem
        line-height 1
      &__field
        padding 2rem 1rem .75rem
        background-color #eaeaea
        border none
    textarea.form-input__field
      height 18rem
  p
  .form__agreement
    font-size .875rem
    text-align center
  p
    margin .25rem 0 1rem
  .form__agreement
    margin-y 1rem
    max-width 22rem
  .btn
    width 100%
    max-width 15rem
